@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
h1,
p,
span,
div {
  font-family: "Oswald", sans-serif !important;
}
a {
  color: inherit !important; /* Inherits text color from parent */
  text-decoration: none !important; /* Removes underline */
}
a:hover {
  color: inherit !important; /* Keeps hover color the same */
}
